
/* font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.rubik {font-family: "Rubik", sans-serif;}

@font-face {
	font-family: 'DungGeunMo';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.DGMo {font-family: 'DungGeunMo', sans-serif;}

:root {
	--rem-vw : min(calc(10 / 768 * 100vw), 10px);
	--Y-color : #fff600;
	--R-color : #fe5058;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
html {font-size: var(--rem-vw);}
body {margin: 0; padding: 0;}
* {box-sizing: border-box; line-height: 1; margin: 0; padding: 0;}
a {text-decoration: none;}
h1,h2,h3,h4,h5,p,span,b,strong {margin: 0; padding: 0;}
#root {width: 100%;}
.App {width: 100%; position: relative; overflow: hidden; background: #000;}
/* .App::before {
	content:""; position: absolute;
	z-index: -2; width: 100%; height: 100%; top: 0; left: 0;
	background: linear-gradient(#000, #111);
} */
ul,ol,li {list-style: none; padding: 0; margin: 0;}

/* 밤하늘 */
.nightsky {
	position: absolute; top: 0; left: 50%;
	z-index: -1; transform: translateX(-50%);
	display: block;
}

/* 페이지 규격 */
.containerV1 {
	width: 100%; max-width: 1200px;
	margin: 0 auto; position: relative;
}

/* .App .body_sty {overflow-y: scroll; height: 100vh;} */

@media (max-width: 1430px) {
	.containerV1 {max-width: 100%; padding: 0 15px;}
}

#page_title {
	position: absolute; bottom: 3.4rem; right: 5.6rem;
	color: #fff; font-size: 5rem; line-height: 1;
	z-index: 1000;
}

/* navigater 공용 navi ------------------------------- */
#Navi {
	position: fixed;
	top: 40%; left: max(15px, 3rem);
	display: flex; flex-direction: column;
	gap: 2rem; letter-spacing: 1px;
}
#Navi > a {
	color: #fff; font-size: 3rem; position: relative;
	text-transform: uppercase; transition: 0.3s; line-height: 1;
	width: fit-content;
}
#Navi > a > span {position: relative; z-index: 2;}

#Navi > a.active > span,
#Navi > a:hover {color: var(--Y-color);} 

/* navigater ------------------------------- */

/* 컴포넌트 전환 애니메이션 */
.stayAni {
	opacity: 0;
}
/* active */
.loadPage {opacity: 1; transition: opacity 1s 0.3s;}



/* ###### MAIN	STYLE #########################################*/

/* intro_body 메인 인트로 ------------------------------- */
#intro_body {
	width: 100%; height: 100vh;
	display: flex; flex-direction: column;
	align-items: center; justify-content: center;
	position: relative;
}

#intro_body .int_name {position: relative; top: 3rem; width: 60rem;} 
#intro_body .rocket {
	position: relative; bottom: 4.5rem; width: 24rem;
	animation: rocket_move 0.9s infinite alternate forwards;
}

#intro_body .textBox {text-align: center;}
#intro_body .textBox h2 {
	font-size: 8rem; text-transform: uppercase;
	color: #fff; line-height: 1; font-weight: 600;
}
#intro_body .textBox h2 b {color: var(--Y-color);}
#intro_body .textBox h5 {
	font-size: 5rem; font-weight: 500;
	color: var(--R-color); line-height: 1;
}

#intro_body .ip_address {
	font-size: max(12px, 1.6rem); color: #fff;
	position: absolute; bottom: max(5px, 1.3rem); right: 3.8rem;
}

#intro_body .ip_address .cursor {
	border-left: 3px solid #fff;
  	animation: blink 1s infinite;
  	display: inline-block;
  	margin-left: 2px;
  	height: 1.4em; /* 폰트 크기보다 조금 크게 설정 */
  	vertical-align: middle;
}

/* 우주선 */
@keyframes rocket_move {
	to {transform: translateY(2%);}
}

/* ip 위치 좌표 커서 */
@keyframes blink {
	0% {
	  opacity: 1;
	}
	55% {
	  opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
	  opacity: 0;
	}
 }

/* intro_body end ------------------------------- */



/* main 자기소개 ----------------------------------- */

/* comment 상자 스타일 */
.ComtBox {
	--bg : rgb(24 24 24 / 80%);
	/* --bg : #05713d; */
	--br : 20px;
	background: var(--bg);
	border-radius: var(--br); text-align: center;
}

.ComtBox .text1 {
	font-size: 2rem; line-height: 1.5;
	color: #fff;
}

.Comt__ty1 {
	padding: 3.5rem 15px;
}

.Comt__ty2 {
	text-align: left; position: relative;
	/* border-radius: 0 var(--br) var(--br) var(--br); */
	padding: 4rem 3rem;
}

.Comt__ty2 > label {
	font-size: 3.5rem; color: #fff;
	text-transform: uppercase; font-weight: bold;
	letter-spacing: 5px; position: absolute; bottom: 100%;
	background: var(--bg); padding: 5px 10px; left: 3rem;
   border-radius: 10px 10px 0 0px;
}



#gr_body {padding-top: 18rem;}



/* sec1 */
#gr_body .sec1 {
	width: 100%; padding: 8.5rem 15px 9.5rem;
	margin: 0 auto 20.9rem; position: relative;
	overflow: hidden; background: none; border-radius: unset;
}

#gr_body .sec1 .bg_box {
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%); width: 100%; height: 100%;
	z-index: 1; background: var(--bg); border-radius: var(--br);
} 
#gr_body .sec1 .comt_unit_1 {position: relative; z-index: 2;}
#gr_body .sec1 .comt_unit_1 > h2 {
	text-transform: uppercase;
	font-size: 6.5rem; font-weight: 500;
	line-height: 1.1; margin-bottom: 2.5rem;
	color: #fff; letter-spacing: 2px;
}


/* 행성 */
#gr_body .sec2 {margin: 17rem 0;}
#gr_body .sec2 .itemBox {
	display: grid; grid-template-columns: repeat(1, 1fr);
	gap: 30rem;
}
#gr_body .sec2 .planit {position: relative; padding-bottom: 17rem;}
#gr_body .sec2 .planit .img {
	position: relative; width: fit-content;
}
#gr_body .sec2 .planit .img img {
	animation: planitMove 0.7s infinite alternate;
	position: relative; top: 0;
}


@keyframes planitMove {
	to {top: 10px;}
}
#gr_body .sec2 .planit .text_box {
	max-width: 700px; position: absolute;
	top: 60%; right: 0;
}

#gr_body .sec2 .planit .text_box .ComtBox {text-align: left;}
#gr_body .sec2 .planit .text_box .label {margin-bottom: 2rem;}
#gr_body .sec2 .planit .text_box .label h3 {
	font-size: 2.5rem; color: #fff;
	margin-bottom: 1.3rem;
}
#gr_body .sec2 .planit .text_box .label span {
	background: rgba(90, 90, 90, 0.4); border-radius: 5px;
	padding: 0.5rem; margin-right: 1rem; color: #fff;
	font-weight: bold; font-size: 1.3rem;
}


/* education */
#gr_body .sec2 #education .planit .img {left: 20rem;}
#gr_body .sec2 #education .planit .img img {width: 38rem;}

/* career */
#gr_body .sec2 #career .planit .img {left: 60rem;}
#gr_body .sec2 #career .planit .img img {width: 56.2rem;}
#gr_body .sec2 .planit .img > a {
	display: block; width: max(25px, 5rem); height: max(25px, 5rem);
	border-radius: 50%; position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#gr_body .sec2 #career .planit .img > #moon-1 {top: 4rem; left: 4rem;}
#gr_body .sec2 #career .planit .img > #moon-2 {bottom: 5rem; right: 3rem;}
#gr_body .sec2 #career .planit .img > #moon-3 {top: 0rem; right: 10rem;}
#gr_body .sec2 #career .text_box {right: unset; left: 8rem;}




/* sec3 */

#gr_body .sec3 .itemBox {margin-bottom: 10rem;}

#gr_body .sec3 .skill_list {
	display: grid; grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(8rem, auto);
	justify-items: center; gap: 3rem;
}

#gr_body .sec3 .skill_list > li {
	display: flex; align-items: center;
	flex-direction: column; gap: 10px;
}

#gr_body .sec3 .skill_list > li .img {
	min-height: 7rem; display: flex; z-index: 3;
	align-items: center; justify-content: center;
}

#gr_body .sec3 .skill_list > li .img img {width: 45%;}

#gr_body .sec3 .skill_list > li > h4 {
	color: #fff; text-transform: uppercase;
	font-size: max(15px, 1.8rem); letter-spacing: 2px;
}








/* gr_body end ------------------------------- */


/* ###### MAIN	STYLE END #########################################*/




/* ###### PORTFOLIO STYLE #########################################*/

/* pot_body -------------------------------------*/
#pot_body {position: relative;}
#pot_body .sec1 {
	z-index: 1;
	/* position: fixed; */
	top: 0; left: 0; width: 100%; height: 100vh;
	display: flex; flex-direction: column;
	align-items: center; justify-content: center;
}

#pot_body .sec1 .canvasBox {
	display: flex; align-items: center;
	flex-direction: column; margin-bottom: 5rem;
}
#pot_body .sec1 .canvasBox > h2 {
	font-size: 3rem; color: #fff;
	line-height: 1.4; text-align: center;
}
#pot_body .sec1 .canvasBox > h2 span {
	font-size: 0.8em;
}


/* pot_body end -------------------------------- */


/* ###### PORTFOLIO STYLE END #########################################*/